.forms {
  margin: 0 auto;
  margin-top: 63px;
  width: 550px;
  text-align: center;
}

.container {
 /*margin: 0 auto;
 text-align: center;
*/
  overflow: auto;
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

h1 {
  font-size: 40px;
  color: #663300;
  font-style: italic;
}

h3 {
  font-size: 20px;
  color: black;
  font-style: italic;
}

body {
  background-color: #EBF5FF;
}

.button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#nav_bar{
  position: relative;
  width: 100%;
  background-color: darkgrey;
  float: right;

}

#nav_bar li {
  text-decoration: none;
  display: inline-block;
}





