<br><br>

<h3>Add Questions</h3>
<div>
  <form action="/surveys" method="POST">
    <input type="text" placeholder="Question" name="question[ask]"><br><br>

    <label>Add Choices:</label><br>
      <input type="text" placeholder="Choice 1" name="choice[decision]"><br>
      <input type="text" placeholder="Choice 2" name="choice[decision]"><br><br>

    <input id="add_question" type="submit" value="ADD QUESTION">
    <input id="finish_creation" type="submit" value="FINISH CREATION">
</div>
