<h1>CREATE A NEW SURVEY!</h1>

<form action="/surveys/new" method="POST">
  <input type="text" placeholder="survey title" name= "survey[title]"><br>
  <textarea rows="10" cols="50" placeholder="survey description" name="survey[description]"></textarea><br>
  <input type="submit" value="CREATE SURVEY">
</form>

