<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link href='http://fonts.googleapis.com/css?family=Paytone+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Honey Badger Survey</title>
</head>
<body>
<!--   <header> -->
<div>
  <div id="nav_bar">
    <ul>
      <li><a class="small_button" href="/dashboard">Home</a></li>
      <li><a class="small_button" href="/surveys/new">Create</a></li>
      <li><a class="small_button" href="/surveys">Browse</a></li>
    </ul>
  </div>
</div>
<!-- </header> -->

  <%= yield %>
</body>
</html>
